.jumbotron {
    background-color: transparent !important;
    color: #AC3A1B;
    margin-bottom: 0;

}

.container {
    margin-right: 0;
}

.display-4 {
    text-align: right;
}

.lead {
    text-align: right;
}

@media (max-width: 420px) {
    .display-4 {
        width: 100%;
        font-size: 62px;
    }

    html {
        width: 100%;
    }
}