body {
    /* background-color: #f2e4ed; */
    background-image: url("../images/ceramic_background.jpg");
}

.card {
    width: 800px;
    margin-top: 100px;
    margin-left: 60px;
    border: none;
}

.final {
    margin-bottom: 15px;
}

.card-text {
    text-align: left;
    font-size: 1.15rem;
}

.card-title {
    text-align: left;
    font-size: 1.5rem;
}


.bg-dark {
    background-color: #B6B2A9 !important;
}